language: java

jdk:
  - openjdk8

branches:
  only:
  - master
  - development

before_script:  
  - ls -la # this command just prints the contents of the current working directory.

script: 
  - jacoco:report coveralls:report cobertura:cobertura  
    # the coveralls:report is required only for the coveralls coverage service
    # the cobertura:cobertura is optional only for advanced coverage reporting and, if exists, is used by CodeCov 

after_success:
- bash <(curl -s https://codecov.io/bash) -t d88add96-4a3e-4fa7-848e-893ff70d96a0
- echo "Hello there!"
