language: java

jdk:
  - openjdk8

branches:
  only:
  - master
  - development

before_script:
  - cd SEIP-assignments  
  - ls -la # this command just prints the contents of the current working directory.

script: 
  - mvn package jacoco:report 
    
after_success:
- bash <(curl -s https://codecov.io/bash) -t d88add96-4a3e-4fa7-848e-893ff70d96a0
- echo "Process terminated successfully"
